@font-face {
    font-family: 'M';
    src: url('/fonts/Michroma-Regular.ttf');
}
body {
    font-family: M;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 0;
}
.main-body {
    width: 275px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    background-color: #e6faff;;
    border: #d6eef2 solid 5px;
    border-radius: 12px;
    padding: 10px;

}
.svg-del{
    width: 20px;
    height: 20px;
}
.buttons {
    font-family: M;
    width: 68px;
    height: 68px;
    background: #efefef7a;
    border-radius: 25px; 
    margin: 1px;
    border: 2px solid #a8fecd
}
.box-bottons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.line {
    display: flex;
    justify-content:start ;
}

.zero {
    width: 135px;
}
.buttons:hover {
    background-color: azure;
    opacity: 0.9;
    transition: 1s;
    cursor: pointer;
}
.screen {
    height: 50px;
    font-size: 30px;
    font-family: M;
    border-radius: 14px
}